/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background: linear-gradient(to right, #ff758c, #d86be0);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    width: 150px; /* Ajusta el tamaño del logotipo según sea necesario */
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header h1 {
    font-size: 36px;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #d86be0;
}

.login-button {
    background-color: #ff758c; /* Color de fondo del botón de iniciar sesión */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.login-button:hover {
    background-color: #d86be0; /* Cambia el color de fondo al pasar el ratón */
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


